@media only screen and (max-width: 1600px) {

}

/* 
	following ant design grid documentation
	xs : screen < 576px
	sm: screen >= 576px
	md: screen >= 768px
	lg: screen >= 992px
	xl: screen >= 1200px
	xxl: screen > = 1600px
*/

@media only screen and (max-width: 1425px) {

	.right_menu_bar {
        margin-right: 3em;
	}

    .li{
        margin-right: 0.5em;
    }

    .left_menu_bar{
        display:none;
    }

    .hidden_menu {
		display: flex;
		margin-left: 1.5em;
        margin-right: 1em;
		cursor: pointer;
	}

	.bottom_layout{
		width: 100%;
	}

	.about_us{
		width: fit-content;
	}

	.help{
		width: fit-content;
	}

	.user_account{
		width: fit-content;
	}

	.letter_news{
		width: 80%;
		
	}

	.follow_us{
		width: fit-content;
	}
    .sub_bottom_layout{
		width: 100%;
		display: block;
		margin-left: 8em;
    }
   
	.Search-Logo{
		display: flex;
		margin-right: 3em;
	}
	
	.search input{
		display: none;
	}

	.right_menu_bar{
		align-items: center;
		height: auto; 
		margin-left:auto;
		margin-right: 3em;
	}

	.sidebar_menu{
		display: none;
	}
	.grid-container{
		grid-template-columns: auto auto;
		width: fit-content;
		position: relative;
	}

	.navbar{
		display: block;
	}

	.woman_main_content{
		width: 90%;
		margin-left: auto;
	}

	.window_shopping{
		margin-top: 5em;
		width: fit-content;
		display: block;
	}

	.woman_window_shopping_picture{
		margin-top: 3em;
		margin-left: 8em;
		width: 100%;
		
	}

	.woman_window_shopping_detail{
		margin-top: 3em;
		width: auto;
		margin-right: auto;

	}

	.shopping_detail{
		font-size: 20px;
	}

	.navbar a{
		margin-right: 0.5em;
	}

	.dropdown .dropbtn {
		margin-right: 0.5em;
	}

}

